@charset "utf-8";

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ra-men {
    width: 25%;
    background-color: #e0f3d9;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.ra-men h2 {
    width: 90%;
    margin: 0 auto 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.image-box {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;

}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ra-men a {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 8px 0;
    background-color: #3cb371;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid red;
}

.ra-men p {
    width: 90%;
    margin: 10px auto 0;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.5;

}

.ue-ramen,
.sita-ramen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}