@charset "uft-8";
header{
    background-color: aquamarine;
    padding: 0.5rem;
}
header{
    width: 100%;
}
header ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
header ul li{
    width: 20%;
    text-align: center;
}
header ul li a{
    display: block;
    padding: 0.5rem;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
body{
    min-width: 700px;
}
header ul li +li{
border-left: 2px solid #00552e;
}
.breadcrumbs{
    list-style: none;
    display: flex;
}
.breadcrumbs li::after{
    content: ">";
    padding: 0 0.5rem;
}
.breadcrumbs li:last-child::after{
    content:"";
}
.breadcrumbs li a:link{
    color: #55AA83;
}
.breadcrumbs li a:visited{
    color: #00552e;;
}
.breadcrumbs li a:hover{
    text-decoration: none;
}
/*padding や border を含めても width: 100% を超えないように*/
* {
  box-sizing: border-box;
}
