@charset "uft-8";
main{
    text-align: center;
}
aside{
    background-color: cornsilk;
    padding: 0.5rem;
    width: 30%;
}
.container{
    display: flex;
}
main article{
    background-color: #F2F2F2;
    margin: 0.5rem;
    padding: 0.5rem;
}
main section{
    padding: 0.5rem;
}
main article th{
    padding: 0.5rem;
    text-align: left;
}