@charset "utf-8";
.section-header {
  background-color: red;
  padding: 20px 30px;
  color: white;
  display: flex;
}

.section-header h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.section-header .en {
  font-weight: 900;
  margin-right: 10px;
  text-transform: uppercase;
}
main{
    margin-left: 200px; 
  padding: 20px;
  box-sizing: border-box;
}
.event-card {
  display: flex;
  gap: 20px;
  background: white;
  padding: 30px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  align-items: center;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;       
  text-align: center;
}

.card-img {
  width: 100%;
  height: 350px;       
  object-fit: cover;   
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.date {
  font-size: 14px;
  margin-top: 10px;
}

.title {
  font-weight: bold;
}
h2{
  text-align: left;
  text-decoration: underline red;
}
body {
  background-color: #f5f5f5;
}




